<div class="wrapper">
	<div class="section-shaped my-0 skew-separator skew-mini">
		<div class="page-header page-header-small header-filter">
			<div class="page-header-image" style="background-image: url('assets/img/pages/georgie.jpg');"></div>
			<div class="container">
				<div class="header-body text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">Account Details</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary">
		<div class="container bg-white card mb-0">
			<div class="row">
				<div class="col-md-3">
					<div class="section">
						<section class="text-center">
							<app-picture-upload [avatar]="true"></app-picture-upload>
							<h3 class="title mt-4">{{ user.firstName }} {{ user.lastName }}</h3>
						</section>
						<section>
							<br />

							<ul class="nav flex-column" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#user" role="tablist">
										<i class="tim-icons icon-single-02"> </i> User
									</a>
								</li>
								<hr class="line-primary" />

								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#agent" role="tablist">
										<i class="tim-icons icon-single-02"> </i> Agent
									</a>
								</li>
								<hr class="line-primary" />

								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#notifications" role="tablist">
										<i class="tim-icons icon-volume-98"> </i> Notifications
									</a>
								</li>
							</ul>
						</section>
						<br />
						<br />
						<br />
					</div>
				</div>
				<div class="col-md-8 ml-auto">
					<div class="section">
						<div class="tab-content">
							<div class="tab-pane active" id="user">
								<div>
									<header>
										<h2>User Information</h2>
									</header>
									<hr class="line-primary" />
									<br />
									<form *ngIf="displayUserForm" role="form" [formGroup]="userEdit"
										(ngSubmit)="editProfile()">
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#firstName">
													First Name
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" type="text"
														formControlName="firstName" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#lastName">
													Last Name
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" id="lastName" name="lastName"
														required="required" type="text" formControlName="lastName" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#email"> Email </label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input 
														class="form-control"
														id="email"
														name="email"
														required="required"
														type="email"
														(keyup)="evaluateEmail()"
														formControlName="email" />
												</div>
											</div>
										</div>
										<div *ngIf="emailChanged" class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#confirmEmail">
													Confirm New Email
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" id="confirmEmail" name="confirmEmail"
														required="required" type="email" />
												</div>
											</div>
										</div>
										<!-- <div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#phone">
													Phone Number
												</label>
											</div>
											<div class="col-md-4 align-self-center">
												<div class="form-group">
													<input class="form-control" id="phone" (blur)="focus = false"
														(focus)="focus = true" name="phone" required="required" type="tel"
														value="+40 745 031 200" />
												</div>
											</div>
										</div> -->
										<!-- <div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels"> Language </label>
											</div>
											<div class="col-md-4 align-self-center">
												<div class="form-group">
													<select class="form-control" data-trigger=""
														id="choices-single-default5" name="choices-single-default">
														<option selected="selected"> English </option>
														<option value="2"> French </option>
														<option value="3"> Spanish </option>
														<option value="4"> Deutsche </option>
														<option value="4"> Russian </option>
													</select>
												</div>
											</div>
										</div> -->
										<div class="row mt-5">
											<div class="col-md-6">
												<button class="btn btn-primary" type="submit">
													Save Changes
												</button>
												<button class="btn btn-outline-primary" type="reset">
													Cancel
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="tab-pane" id="agent">
								<div>
									<header>
										<h2>Agent Information</h2>
									</header>
									<hr class="line-primary" />
									<br />
									<form *ngIf="displayAgentForm" role="form" [formGroup]="agentEdit"
										(ngSubmit)="editProfile()">
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#firstName">
													First Name
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" type="text" formControlName="firstName"
														value="{{ originalUser.firstName }}" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#lastName">
													Last Name
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" id="lastName" name="lastName"
														required="required" type="text" formControlName="lastName" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#email"> Email </label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" id="email" name="email"
														required="required" type="email" formControlName="email" />
												</div>
											</div>
										</div>
										<div *ngIf="emailChanged" class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#confirmEmail">
													Confirm New Email
												</label>
											</div>
											<div class="col-md-9 align-self-center">
												<div class="form-group">
													<input class="form-control" id="confirmEmail" name="confirmEmail"
														required="required" type="email" formControlName="email" />
												</div>
											</div>
										</div>
										<!-- <div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels" for="#phone">
													Phone Number
												</label>
											</div>
											<div class="col-md-4 align-self-center">
												<div class="form-group">
													<input class="form-control" id="phone" (blur)="focus = false"
														(focus)="focus = true" name="phone" required="required" type="tel"
														value="+40 745 031 200" />
												</div>
											</div>
										</div> -->
										<!-- <div class="row">
											<div class="col-md-3 align-self-center">
												<label class="labels"> Language </label>
											</div>
											<div class="col-md-4 align-self-center">
												<div class="form-group">
													<select class="form-control" data-trigger=""
														id="choices-single-default5" name="choices-single-default">
														<option selected="selected"> English </option>
														<option value="2"> French </option>
														<option value="3"> Spanish </option>
														<option value="4"> Deutsche </option>
														<option value="4"> Russian </option>
													</select>
												</div>
											</div>
										</div> -->
										<div class="row mt-5">
											<div class="col-md-6">
												<button class="btn btn-primary" type="submit">
													Save Changes
												</button>
												<button class="btn btn-outline-primary" type="reset">
													Cancel
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="tab-pane" id="notifications">
								<div class="container">
									<div class="row">
										<div class="col-12">
											<alert class="text-small" [type]="'primary'">
												<i class="icon-shield"> </i>
												<span>
													We will never distribute your email address to
													third parties. Read about email communication in
													our privacy policy.
												</span>
											</alert>
										</div>
									</div>
									<hr />

									<div class="row">
										<div class="col-12">
											<form>
												<h5 class="mb-4">Notification Preferences</h5>
												<div class="custom-control custom-checkbox mb-3">
													<input checked="checked" class="custom-control-input"
														id="notification1" type="checkbox" />

													<label class="custom-control-label" for="notification1">
														<span> Someone mentions me </span>
													</label>
												</div>
												<div class="custom-control custom-checkbox mb-3">
													<input checked="checked" class="custom-control-input"
														id="notification2" type="checkbox" />

													<label class="custom-control-label" for="notification2">
														<span> Someone follows me </span>
													</label>
												</div>
												<div class="custom-control custom-checkbox mb-3">
													<input class="custom-control-input" id="notification3"
														type="checkbox" />

													<label class="custom-control-label" for="notification3">
														<span> Someone shares my activty </span>
													</label>
												</div>
												<div class="custom-control custom-checkbox mb-3">
													<input class="custom-control-input" id="notification4"
														type="checkbox" />

													<label class="custom-control-label" for="notification4">
														<span> Someone messages me </span>
													</label>
												</div>
												<div class="custom-control custom-checkbox mb-3">
													<input class="custom-control-input" id="notification5"
														type="checkbox" />

													<label class="custom-control-label" for="notification5">
														<span> Someone adds me to a project </span>
													</label>
												</div>
												<div class="custom-control custom-checkbox mb-3">
													<input class="custom-control-input" id="notification6"
														type="checkbox" />

													<label class="custom-control-label" for="notification6">
														<span> Sales and promotions </span>
													</label>
												</div>
												<button class="btn btn-primary btn-sm mt-3 mb-5" type="submit">
													Update preferences
												</button>
											</form>
										</div>
									</div>
									<hr />

									<div class="row">
										<div class="col-12">
											<form>
												<h5>Notification Frequency</h5>
												<div class="custom-control custom-radio mb-3">
													<input class="custom-control-input" id="freq1" name="custom-radio-1"
														type="radio" />

													<label class="custom-control-label" for="freq1">
														<span> Daily </span>
													</label>
												</div>
												<div class="custom-control custom-radio mb-3">
													<input class="custom-control-input" id="freq2" name="custom-radio-1"
														type="radio" />

													<label class="custom-control-label" for="freq2">
														<span> Weekly </span>
													</label>
												</div>
												<div class="custom-control custom-radio mb-3">
													<input class="custom-control-input" id="freq3" name="custom-radio-1"
														type="radio" />

													<label class="custom-control-label" for="freq3">
														<span> Monthly </span>
													</label>
												</div>
												<div class="custom-control custom-radio mb-3">
													<input checked="checked" class="custom-control-input" id="freq4"
														name="custom-radio-1" type="radio" />

													<label class="custom-control-label" for="freq4">
														<span> Never </span>
													</label>
												</div>
												<button class="btn btn-primary btn-sm mt-3" type="submit">
													Update
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>