<div class="wrapper full-wrapper">
	<div class="section-shaped my-0 skew-separator skew-mini">
		<div class="page-header page-header-small header-filter">
			<div class="page-header-image" style="background-image: url('../../../assets/img/pages/photo-15.jpg');"></div>
			<div class="container">
				<div class="header-body title-header text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">My Products</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary">
		<div class="container product-card bg-white card">
			<div class="row">
				<div class="col-md-12 product-container">
					<div class="section product-section">
						<section *ngIf="!loading" class="text-center product-button">
							<button class="btn btn-primary" type="button" (click)="routeToCreate()">
								Create Product
							</button>
						</section>
						<div *ngIf="!productsFound && !loading" class="text-center">
							<h2>No Products Found</h2>
						</div>
						<div *ngIf="productsFound && !loading" class="table">
							<table class="table table-shopping">
								<thead class="">
									<tr>
										<!-- <th class="text-center"></th> -->
										<th>Title/Details</th>
										<th>Status</th>
										<th>Category</th>
										<th>Last Updated</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody *ngIf="!loading" class="product-table">
									<tr *ngFor="let product of products">
										<!-- <td>
											<div class="img-container">
												<img [src]="product.imageUrl" alt="{{ product.productTitle }}" />
											</div>
										</td> -->
										<td class="td-name">
											<a (click)="viewProductDetails(product)">{{ product.productTitle }}</a> <br />
											<small 
												*ngIf="product.productDetails && product.productDetails.length > 60"
												tooltip="{{ product.productDetails }}"
												placement="bottom"
												[adaptivePosition]="false"
												containerClass="code-info-tooltip"
												[delay]="500">
												{{ product.productDetails | slice: 0:30 }}...
											</small>
											<small *ngIf="product.productDetails && product.productDetails.length < 30">{{ product.productDetails }}</small>
										</td>
										<td>
											{{ product.productStatus }}
										</td>
										<td>
											{{ product.productCategory }}
										</td>
										<td>
											{{ product.updatedAt | date: "shortDate" }}
										</td>
										<td>
											<button (click)="viewProductDetails(product)" class="btn btn-icon btn-primary">
												<i class="fa-solid fa-eye"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>