.full-wrapper {
	height: 100vh !important;
}

.bg-secondary {
	height: 100% !important;
}

.product-container {
	margin-top: -100px !important;
	background-color: #fff;
}

.product-card {
	z-index: 999 !important;
}

.product-section {
	padding-top: 2rem !important;
}

.title-header {
	margin-top: 50px;
}

.product-button {
	margin-bottom: 20px;
}

.panel-header-min {
	height: 0px !important;
}

.product-table tr td a {
	color: #5e72e4 !important;
}

.product-table tr td a:hover {
	color: #333333 !important;
	cursor: pointer !important;
}

.table-shopping th {
	font-size: 14px;
	font-weight: 700;
}

.table-shopping .td-name small {
	color: #444 !important;
}

.td-name a:hover {
	color: #444 !important;
	text-decoration: none;
}

.btn-icon {
	padding: 0.625rem 0.825rem !important;
}