.auth-container {
	padding-top: 5vh !important;
}

.overlap-card {
	margin-top: -120px !important;
	z-index: 99 !important;
}

.header-4 .video-text {
	font-size: 4em !important;
}

.auth-card {
	margin-top: 50px !important;
}

.header-4 .header-video .overlay {
	opacity: 0.8 !important;
}

a.auth-form-link {
	color: #5e72e4 !important;
}

a.auth-form-link:hover {
	color: #444 !important;
	cursor: pointer;
	text-decoration: none;
}

.alert-danger {
	padding: .75rem 1rem !important;
	background-color: #f5365c !important;
    border-color: #f5365c !important;
    color: #fff !important;
}
