.qrcode-container {
	margin-top: -120px !important;
}

.qrcode-card {
	z-index: 999 !important;
}

.qrcode-section {
	padding-top: 2rem !important;
}

.qr-button {
	margin-bottom: 20px;
}

.panel-header-min {
	height: 0px !important;
}

.qr-code-table tr td a {
	color: #5e72e4 !important;
}

.qr-code-table tr td a:hover {
	color: #333333 !important;
	cursor: pointer !important;
}

.table-shopping th {
	font-size: 14px;
	font-weight: 700;
}

.table-shopping .td-name small {
	color: #444 !important;
	font-weight: 500 !important;
	font-size: 14px !important;
}

.td-name a:hover {
	color: #444 !important;
	text-decoration: none;
}

.btn-icon {
	padding: 0.625rem 0.825rem !important;
}