<div class="wrapper">
	<div class="section-shaped my-0 skew-separator skew-mini">
		<div class="page-header page-header-small header-filter">
			<div class="page-header-image" style="background-image: url('assets/img/pages/georgie.jpg');"></div>
			<div class="container">
				<div class="header-body text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">QR Code Details</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary">
		<div class="container qrcode-card bg-white card">
			<div class="row">
				<div class="col-md-12 qrcode-container">
					<div class="section qrcode-section">
						<div class="col-md-4">
							<div class="section">
								<section class="text-center">
									<img [src]="qrCode.imageUrl" />
									<!-- <app-picture-upload [avatar]="true"></app-picture-upload> -->
								</section>
							</div>
						</div>
						<div class="col-md-8 ml-auto">
							<div class="section">
								<div class="tab-content">
									<div *ngIf="qrCodeId">
										<div>
											<header>
												<h2>{{ qrCode.tagTitle }}</h2>
											</header>
											<hr class="line-primary" />
											<br />
											<form role="form" [formGroup]="qrCodeEdit" (ngSubmit)="editQRCode()" novalidate>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagTitle">
															Title
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="tagTitle" class="form-control" type="text" required
																formControlName="tagTitle"
																(keyup)="validateField('tagTitle', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagSubTitle">
															Subtitle
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="tagSubTitle" class="form-control" name="tagSubTitle" required
																type="text" formControlName="tagSubTitle"
																(keyup)="validateField('tagSubTitle', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagCompany"> Company </label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="tagCompany" class="form-control" name="tagCompany"
																required type="tagCompany" (keyup)="evaluateEmail()"
																formControlName="tagCompany" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagPrice">
															Price
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagPrice"
																name="tagPrice" required type="number"
																formControlName="tagPrice" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagUrl">
															URL
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagUrl" name="tagUrl" required type="url" formControlName="tagUrl" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagAddress">
															Address Line 1
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagAddress" name="tagAddress"
																required type="text" formControlName="tagAddress" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagAddress2">
															Address Line 2
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagAddress2" name="tagAddress2"
																required type="text" formControlName="tagAddress2" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagCity">
															City
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="tagCity" class="form-control" name="tagCity" required
																type="text" formControlName="tagCity"
																(keyup)="validateField('tagCity', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagState">
															State
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagState" name="tagState"
																required type="text" formControlName="tagState" minlength="2"
																maxlength="2" placeholder="CA"
																(keyup)="validateField('tagState', 2)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagZip">
															Zip
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="tagZip" name="tagZip" required
																type="text" formControlName="tagZip" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#tagInfo">
															Details
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<textarea class="form-control" id="tagInfo" rows="8" name="tagInfo"
																required formControlName="tagInfo"></textarea>
														</div>
													</div>
												</div>
												<div class="row mt-5">
													<div class="button-group col-md-12">
														<button *ngIf="!saving" [disabled]="saveDisabled"
															class="btn btn-success" type="submit">
															Save Changes
														</button>
														<button *ngIf="saving" class="btn btn-success saving-button"
															type="button" disabled>
															<span class="spinner-border spinner-border-sm" role="status"
																aria-hidden="true"></span>
															Saving...
														</button>
														<a class="btn btn-danger" (click)="cancelChanges()">
															Cancel
														</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>