<div class="wrapper full-wrapper">
	<div class="section-shaped my-0 skew-separator skew-mini">
		<div class="page-header page-header-small header-filter">
			<div class="page-header-image" style="background-image: url('../../../assets/img/pages/photo-15.jpg');"></div>
			<div class="container">
				<div class="header-body title-header text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">My QR Codes</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary">
		<div class="container qrcode-card bg-white card">
			<div class="row">
				<div class="col-md-12 qrcode-container">
					<div class="section qrcode-section">
						<section *ngIf="!loading" class="text-center qr-button">
							<button class="btn btn-primary" type="button" (click)="routeToCreate()">
								Create QR Code
							</button>
						</section>
						<div *ngIf="!qrcodesFound && !loading" class="text-center">
							<h2>No QR Codes Found</h2>
						</div>
						<div *ngIf="qrcodesFound && !loading" class="table">
							<table class="table table-shopping">
								<thead class="">
									<tr>
										<th>QR Code</th>
										<th class="text-center"></th>
										<th>Location</th>
										<th>Created</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody *ngIf="!loading" class="qr-code-table">
									<tr *ngFor="let qrcode of qrcodes">
										<td>
											<div class="img-container">
												<img [src]="qrcode.imageUrl" alt="{{ qrcode.tagTitle }}" />
											</div>
										</td>
										<td class="td-name">
											<a (click)="viewQRCodeDetails(qrcode)">{{ qrcode.tagTitle }}</a> <br />
											<small 
												*ngIf="qrcode.tagInfo && qrcode.tagInfo.length > 60"
												tooltip="{{ qrcode.tagInfo }}"
												placement="bottom"
												[adaptivePosition]="false"
												containerClass="code-info-tooltip"
												[delay]="500">
												{{ qrcode.tagInfo | slice: 0:30 }}...
											</small>
											<small *ngIf="qrcode.tagInfo && qrcode.tagInfo.length < 30">{{ qrcode.tagInfo }}</small>
										</td>
										<td>
											{{ qrcode.tagAddress }}
										</td>
										<td>
											{{ qrcode.createdAt | date: "shortDate" }}
										</td>
										<td>
											<button (click)="viewQRCodeDetails(qrcode)" class="btn btn-icon btn-primary">
												<i class="fa-solid fa-eye"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>