<div class="wrapper full-wrapper">
	<div class="section-shaped my-0 skew-separator skew-mini">
		<div class="page-header page-header-small header-filter">
			<div class="page-header-image" style="background-image: url('../../../assets/img/pages/photo-15.jpg');"></div>
			<div class="container">
				<div class="header-body title-header text-center mb-7">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8 px-5">
							<h1 class="text-white">Product Details</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-secondary">
		<div class="container product-card bg-white card">
			<div class="row">
				<div class="col-md-12 product-container">
					<div *ngIf="!loadError && !loading" class="section product-section">
						<div class="col-md-4">
							<div class="section">
								<section class="text-center qr-code-image">
									<img *ngIf="productImage" [src]="productImage" />
									<!-- <app-picture-upload [avatar]="true"></app-picture-upload> -->
								</section>
							</div>
						</div>
						<div class="col-md-8 ml-auto">
							<div class="section">
								<div class="tab-content">
									<div *ngIf="productId">
										<div>
											<header>
												<h2 *ngIf="product.productTitle">{{ product.productTitle }}</h2>
												<h2 *ngIf="!product.productTitle">Create Product</h2>
											</header>
											<hr class="line-primary" />
											<br />
											<form role="form" [formGroup]="productEdit" (ngSubmit)="editProduct()" novalidate>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productTitle">
															Title
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="productTitle" class="form-control" type="text" required
																formControlName="productTitle"
																(keyup)="validateField('productTitle', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productSubTitle">
															Subtitle
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="productSubTitle" class="form-control" name="productSubTitle" required
																type="text" formControlName="productSubTitle"
																(keyup)="validateField('productSubTitle', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productCategory">
															Category
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input id="productCategory" class="form-control" name="productCategory" required type="text"
																formControlName="productCategory" (keyup)="validateField('productCategory', 1)" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productUrl">
															URL
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="productUrl" name="productUrl" required type="url"
																formControlName="productUrl" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productPrice">
															Price
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input 
																id="productPrice"
																class="form-control"
																name="productPrice"
																required
																pattern="^[0-9_]*$"
																formControlName="productPrice" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productAddress">
															Address
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<input class="form-control" id="productAddress" name="productAddress"
																required type="text" formControlName="productAddress" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productDetails">
															Details
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<textarea class="form-control" id="productDetails" rows="8" name="productDetails"
																required formControlName="productDetails"></textarea>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 align-self-center">
														<label class="labels" for="#productInfo">
															Info
														</label>
													</div>
													<div class="col-md-9 align-self-center">
														<div class="form-group">
															<textarea class="form-control" id="productInfo" rows="8" name="productInfo" required
																formControlName="productInfo"></textarea>
														</div>
													</div>
												</div>
												<div class="row mt-5">
													<div class="button-group col-md-12">
														<button *ngIf="!saving" [disabled]="saveDisabled"
															class="btn btn-success" type="submit">
															Save Changes
														</button>
														<button *ngIf="saving" class="btn btn-success saving-button"
															type="button" disabled>
															<span class="spinner-border spinner-border-sm" role="status"
																aria-hidden="true"></span>
															Saving...
														</button>
														<a class="btn btn-danger" (click)="cancelChanges()">
															Cancel
														</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>